
.header{
    font-size: $h5-font-size;
}

.logo{
    @include hide-text;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
    width: 80px;
    height: 49px;
}

.nav-link{
    padding-top: 30px;
    padding-bottom: 30px;
    @include nav-link-hover;
    &:after{
        height: 0.5rem;
        background-color: $white;
    }
}