
.header{
    font-size: $h5-font-size;
    padding-top: 30px;
    padding-bottom: 30px;
    // padding-right: 88px;
    // padding-left: 88px;
    padding-right: map-get($space, 12);
    padding-left: map-get($space, 12);
    @include pad{
        padding-right: 39px;
        padding-left: 39px;
    }
}

.logo{
    @include hide-text;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
    width: 80px;
    height: 49px;
}

.nav-link{
    padding-bottom: 10px;
    @include nav-link-hover;
    &:after{
        height: 0.5rem;
        background-color: $white;
    }
}