
.banner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    height: calc(100vh - 90px);
    background-size: cover;
    background-position: center center;
    @include mobile-767 {
        h1 {
            font-size: $h2-font-size;
        }

        h3 {
            font-size: $h5-font-size;
        }
    }
}

.introduce{
    padding-top: 60px;
    padding-bottom: 80px;
    @include mobile-767 {
        padding-top: 40px;
        padding-bottom: 56px;

        h1 {
            font-size: $h2-font-size;
        }

        h3 {
            font-size: $h5-font-size;
        }
    }
}

.introduce-item{
    width: 24%;
}

.introduce-icon{
    font-size: 100px;
}

.classic-info{
    padding-top: 60px;
    padding-bottom: 80px;
}

.classic-info-img{
    width: 635px;
}

.co-branding{
    padding-top: 60px;
    padding-bottom: 80px;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true) no-repeat center center;
    background-size: cover;
}

.co-branding-item {
    &.left {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
    }

    &.right {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
    }
    width: 540px;
    height: 455px;
    background-size: cover;
    background-position: center center;
}
.co-branding-link{
    width: 540px;
    height: 455px;
    background-color: rgba($white, 0.5);
}

.recommand{
    padding-top: 60px;
    padding-bottom: 80px;
}

.recommand-item{
    width: 255px;
    height: 460px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.recommand-img{
    height: 256px;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.recommand-date{
    margin-top: 52px;
}

.contact{
    padding-top: 60px;
    padding-bottom: 80px;
    p{
        margin-bottom: 20px;
    }
    .content{
        max-width: 730px;
    }
}

.contact-btn{
    padding-right: 143px;
    padding-left: 143px;
    border: 0;
    cursor: pointer;
    &:hover{
        background-color: darken($danger, 0.5);
    }
}

// /* 參考做法 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
// .check-label {
//     display: block;
//     position: relative;
//     padding-left: 35px;
//     margin-bottom: 40px;
//     cursor: pointer;
//     user-select: none;

//     input {
//         position: absolute;
//         top: 0;
//         left: 0;
//         cursor: pointer;
//         width: 0px;
//         height: 0px;
//     }
// }

// .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 25px;
//     height: 25px;
//     border: 3px solid $black;
//     border-radius: 4px;
//     background-color: $white;

//     &:after {
//         content: "";
//         position: absolute;
//         display: none;
//     }
// }

// /* On mouse-over, add a grey background color */
// .check-label:hover input~.checkmark {
//     background-color: $gray-5;
// }

// /* When the checkbox is checked, add a blue background */
// .check-label input:checked~.checkmark {
//     background-color: $white;
// }

// .check-label input:checked~.checkmark:after {
//     display: block;
// }

// .check-label .checkmark:after {
//     left: 6px;
//     width: 8px;
//     height: 14px;
//     border: solid $black;
//     border-width: 0 3px 3px 0;
//     transform: rotate(45deg);
// }