
.banner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    height: calc(100vh - 90px);
    background-size: cover;
    background-position: center center;
    @include pad {
        h1 {
            font-size: $h2-font-size;
        }

        h3 {
            font-size: $h5-font-size;
        }
    }
}

.index-title{
    margin-bottom: 40px;
    @include pad{
        margin-bottom: 32px;
        font-size: 32px;
    }
}

.introduce{
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad {
        padding-top: 40px;
        padding-bottom: 56px;

        h1 {
            font-size: $h2-font-size;
        }

        h3 {
            font-size: $h5-font-size;
        }
    }
}

.introduce-item{
    width: 24%;
    @include pad{
        width: 48%;
    }
}

.introduce-icon{
    font-size: 100px;
}

.classic-info{
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 56px;
    }
}

.classic-info-title{
    margin: 0 30px;
    @include pad{
        font-size: 28px;
    }
    .material-icons {
        font-size: 44px;
        margin-right: 10px;
        @include pad {
            font-size: 40px;
            margin-right: 8px;
        }
    }
}

.classic-info-item{
    margin-bottom: 32px;
    @include pad{
        margin-bottom: 8px;
    }
}

.classic-reverse{
    @include pad {
        flex-direction: row; 
    }
}

.classic-info-img{
    width: 635px;
    @include pad{
        width: 390px;
    }
}

.co-branding{
    padding-top: 60px;
    padding-bottom: 80px;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true) no-repeat center center;
    background-size: cover;
    @include pad{
        padding-top: 40px;
        padding-bottom: 56px;
    }
}

.co-branding-item {
    &.left {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
    }

    &.right {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
    }
    width: 540px;
    height: 455px;
    background-size: cover;
    background-position: center center;
    @include pad {
        width: 330px;
        height: 278px;
    }
}
.co-branding-link{
    width: 540px;
    height: 455px;
    background-color: rgba($white, 0.5);
    @include pad{
        width: 330px;
        height: 278px;
        font-size: 32px;
    }
}

.recommand{
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 56px;
    }
}

.recommand-item{
    width: 23%;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    @include pad{
        width: 48%;
        &:nth-child(1),
        &:nth-child(2){
            margin-bottom: 32px;
        }
    }
}

.recommand-body{
    padding: 16px;
    @include pad{
        padding-right: 24px;
        padding-left: 24px;
    }
}

.recommand-img{
    height: 256px;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.recommand-date{
    margin-top: 52px;
}

.contact{
    padding-top: 60px;
    padding-bottom: 80px;
    @include pad{
        padding-top: 40px;
        padding-bottom: 56px;
    }
    input, textarea{
        background-color: transparent;
        margin-bottom: 16px;
        @include pad{
            margin-bottom: 8px;
        }
    }
}

.contact-title{
    margin-bottom: 24px;
    @include pad {
        font-size: 32px;
    }
}

.contact-text{
    margin-bottom: 20px;
    @include pad{
        margin-bottom: 16px;
    }
}

.agreement{
    font-size: 14px;
}

.contact-btn{
    padding: 16px 143px;
    border: 0;
    cursor: pointer;
    &:hover{
        background-color: darken($danger, 0.5);
    }
    @include pad{
        font-size: 14px;
        padding: 10px 77px;
        margin-top: 40px;
    }
}

// /* 參考做法 https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
// .check-label {
//     display: block;
//     position: relative;
//     padding-left: 35px;
//     margin-bottom: 40px;
//     cursor: pointer;
//     user-select: none;

//     input {
//         position: absolute;
//         top: 0;
//         left: 0;
//         cursor: pointer;
//         width: 0px;
//         height: 0px;
//     }
// }

// .checkmark {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 25px;
//     height: 25px;
//     border: 3px solid $black;
//     border-radius: 4px;
//     background-color: $white;

//     &:after {
//         content: "";
//         position: absolute;
//         display: none;
//     }
// }

// /* On mouse-over, add a grey background color */
// .check-label:hover input~.checkmark {
//     background-color: $gray-5;
// }

// /* When the checkbox is checked, add a blue background */
// .check-label input:checked~.checkmark {
//     background-color: $white;
// }

// .check-label input:checked~.checkmark:after {
//     display: block;
// }

// .check-label .checkmark:after {
//     left: 6px;
//     width: 8px;
//     height: 14px;
//     border: solid $black;
//     border-width: 0 3px 3px 0;
//     transform: rotate(45deg);
// }