

.page-title {
    border-left: 8px solid $primary;
    margin-bottom: 60px;
}

.subtitle{
    font-size: 32px;
    margin-bottom: 36px;
}

.qa-info{
    li:last-child{
        margin-bottom: 160px;
    }
}

.qa-content{
    padding-left: 60px;
}