
.banner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    height: calc(100vh - 90px);
    background-size: cover;
    background-position: center center;
}

.introduce{
    padding-top: 60px;
    padding-bottom: 80px;
}

.introduce-item{
    width: 24%;
}

.classic-info{
    padding-top: 60px;
    padding-bottom: 80px;
}

.classic-info-img{
    width: 635px;
}

.co-branding{
    padding-top: 60px;
    padding-bottom: 80px;
    background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true) no-repeat center center;
    background-size: cover;
}

.co-branding-item {
    &.left {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
    }

    &.right {
        background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
    }
    width: 540px;
    height: 455px;
    background-size: cover;
    background-position: center center;
}
.co-branding-link{
    width: 540px;
    height: 455px;
    background-color: rgba($white, 0.5);
}

.recommand{
    padding-top: 60px;
    padding-bottom: 80px;
}

.recommand-item{
    width: 255px;
    height: 460px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.recommand-img{
    height: 256px;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.recommand-date{
    margin-top: 52px;
}

.contact{
    padding-top: 60px;
    padding-bottom: 80px;
    p{
        margin-bottom: 20px;
    }
    .content{
        max-width: 730px;
    }
}

.contact-btn{
    padding-right: 143px;
    padding-left: 143px;
    border: 0;
    cursor: pointer;
    &:hover{
        background-color: darken( $danger, $amount: 0.5);
    }
}