
.banner{
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    height: calc(100vh - 90px);
    background-size: cover;
    background-position: center center;
}

.introduce{
    padding-top: 60px;
    padding-bottom: 80px;
}

.introduce-item{
    width: 24%;
}

.classic-info{
    padding-top: 60px;
    padding-bottom: 80px;
}

.classic-info-img{
    width: 635px;
}