

$font-family-base: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Noto Sans TC", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base:   16px;
$h1-font-size:     64px;
$h2-font-size:     48px;

$font-size-sm: 14px;


//Color
$white:     #FFFFFF;
$gray-1:    #F2F2F2;
$gray-2:    #DEE2E6;
$gray-3:    #DCDCDC;
$gray-4:    #CED4DA;
$gray-5:    #00000020;
$gray-6:    #00000021;
$gray-7:    #00000029;
$gray-8:    #707070;
$gray-9:    #6C6C6C;
$gray-10:    #555555;
$gray-11:    #495057;
$gray-12:    #373A3C;
$gray-13:    #212529;
$gray-14:    #0A0A0A;
$black:     #000000;
$red:       #AA0601;
$red-2:     #9F1213;
$red-dark:  #650300;
$pink:      #AA06010D;
$orange:    #B75929;
$brown:     #5F3E2D;

$primary:  $red;