@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol,
ul {
  list-style: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #000000;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Noto Sans TC", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

img {
  /* 去除圖片底下的2-3px神奇空白 */
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

a {
  color: inherit;
  text-decoration: none; }

h1, .h1 {
  font-size: 4rem; }

h2, .h2 {
  font-size: 3rem; }

h3, .h3 {
  font-size: 2.25rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }
  @media (max-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 414px) {
    .container {
      max-width: 414px; } }

.header {
  font-size: 1.25rem;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5.5rem;
  padding-left: 5.5rem; }
  @media (max-width: 768px) {
    .header {
      padding-right: 39px;
      padding-left: 39px; } }
  @media (max-width: 414px) {
    .header {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0; } }

@media (max-width: 414px) {
  .logo {
    margin: 0 auto;
    padding: 10px; } }

.logo-link {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true);
  width: 80px;
  height: 49px; }

.nav-link {
  padding-bottom: 10px;
  position: relative;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .nav-link:after {
    content: "";
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
            transform: scaleX(0) translate3d(0, 0, 0); }
  .nav-link:hover:after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }
  .nav-link:after {
    height: 0.5rem;
    background-color: #FFFFFF; }
    @media (max-width: 414px) {
      .nav-link:after {
        height: 0; } }
  @media (max-width: 414px) {
    .nav-link {
      padding-bottom: 0; } }

@media (max-width: 414px) {
  .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; } }

@media (max-width: 414px) {
  .menu .nav-item {
    margin: 0;
    text-align: center;
    outline: 1px solid #FFFFFF;
    width: 50%; } }

.menu-link {
  margin-left: 4rem; }
  @media (max-width: 768px) {
    .menu-link {
      margin-left: 2.5rem; } }
  @media (max-width: 414px) {
    .menu-link {
      margin-left: 0;
      padding: 0.5rem;
      font-size: 20px; }
      .menu-link:hover {
        background-color: #FFFFFF;
        color: #AA0601; } }

.footer {
  padding: 32px 0px; }
  @media (max-width: 768px) {
    .footer {
      padding-right: 33px;
      padding-left: 33px; } }
  @media (max-width: 414px) {
    .footer {
      padding: 24px 0; } }

.footer-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 414px) {
    .footer-nav {
      display: none; } }

.footer-nav-link {
  margin-right: 3rem; }
  @media (max-width: 768px) {
    .footer-nav-link {
      margin-right: 2.5rem; } }

.icon-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .icon-links .nav-link {
    margin-right: 2rem; }
    @media (max-width: 768px) {
      .icon-links .nav-link {
        margin-right: 1.5rem; } }
  @media (max-width: 768px) {
    .icon-links img {
      width: 24px;
      height: 24px; } }
  @media (max-width: 414px) {
    .icon-links {
      display: none; } }

.mobile-icon-links {
  display: none; }
  @media (max-width: 414px) {
    .mobile-icon-links {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .mobile-icon-links .nav-link {
        margin-right: 1.5rem; }
      .mobile-icon-links img {
        width: 24px;
        height: 24px; } }

@media (max-width: 768px) {
  .footer-link {
    font-size: 20px; } }

@media (max-width: 414px) {
  .footer-link {
    font-size: 16px; } }

.footer-link .material-icons {
  font-size: 48px;
  margin-right: 16px; }
  @media (max-width: 768px) {
    .footer-link .material-icons {
      font-size: 24px;
      margin-right: 8px; } }
  @media (max-width: 414px) {
    .footer-link .material-icons {
      font-size: 20px;
      margin-right: 4px; } }

@media (max-width: 768px) {
  .footer-link a {
    font-size: 20px; } }

@media (max-width: 414px) {
  .footer-link a {
    font-size: 16px; } }

.footer-link a:hover {
  text-decoration: underline; }

.footer-link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-link-icon .nav-link {
    display: inline-block;
    margin-left: 24px;
    margin-right: 0; }

.footer-hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  @media (max-width: 768px) {
    .footer-hr {
      margin-top: 20px;
      margin-bottom: 24px; } }
  @media (max-width: 414px) {
    .footer-hr {
      margin-top: 24px;
      margin-bottom: 16px; } }

.terms {
  font-size: 14px; }

.terms-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px; }
  @media (max-width: 414px) {
    .terms-navbar {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-top: 0; } }
  @media (max-width: 414px) {
    .terms-navbar .nav-link {
      display: block;
      font-size: 14px;
      margin-bottom: 8px; }
      .terms-navbar .nav-link:hover {
        text-decoration: underline; } }
  .terms-navbar .nav-link :nth-child(2) {
    margin-left: 48px; }
    @media (max-width: 414px) {
      .terms-navbar .nav-link :nth-child(2) {
        margin-left: 0;
        margin-bottom: 0; } }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype"); }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.material-icons.md-danger {
  color: #650300; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.d-none {
  display: none; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.p-0 {
  padding: 0; }

.px-0 {
  padding-right: 0;
  padding-left: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pr-0 {
  padding-right: 0; }

.pl-0 {
  padding-left: 0; }

.p-1 {
  padding: 0.25rem; }

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem; }

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; }

.pt-1 {
  padding-top: 0.25rem; }

.pb-1 {
  padding-bottom: 0.25rem; }

.pr-1 {
  padding-right: 0.25rem; }

.pl-1 {
  padding-left: 0.25rem; }

.p-2 {
  padding: 0.5rem; }

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pt-2 {
  padding-top: 0.5rem; }

.pb-2 {
  padding-bottom: 0.5rem; }

.pr-2 {
  padding-right: 0.5rem; }

.pl-2 {
  padding-left: 0.5rem; }

.p-3 {
  padding: 1rem; }

.px-3 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pt-3 {
  padding-top: 1rem; }

.pb-3 {
  padding-bottom: 1rem; }

.pr-3 {
  padding-right: 1rem; }

.pl-3 {
  padding-left: 1rem; }

.p-4 {
  padding: 1.5rem; }

.px-4 {
  padding-right: 1.5rem;
  padding-left: 1.5rem; }

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.pt-4 {
  padding-top: 1.5rem; }

.pb-4 {
  padding-bottom: 1.5rem; }

.pr-4 {
  padding-right: 1.5rem; }

.pl-4 {
  padding-left: 1.5rem; }

.p-5 {
  padding: 2rem; }

.px-5 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pt-5 {
  padding-top: 2rem; }

.pb-5 {
  padding-bottom: 2rem; }

.pr-5 {
  padding-right: 2rem; }

.pl-5 {
  padding-left: 2rem; }

.p-6 {
  padding: 2.5rem; }

.px-6 {
  padding-right: 2.5rem;
  padding-left: 2.5rem; }

.py-6 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }

.pt-6 {
  padding-top: 2.5rem; }

.pb-6 {
  padding-bottom: 2.5rem; }

.pr-6 {
  padding-right: 2.5rem; }

.pl-6 {
  padding-left: 2.5rem; }

.p-7 {
  padding: 3rem; }

.px-7 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py-7 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pt-7 {
  padding-top: 3rem; }

.pb-7 {
  padding-bottom: 3rem; }

.pr-7 {
  padding-right: 3rem; }

.pl-7 {
  padding-left: 3rem; }

.p-8 {
  padding: 3.5rem; }

.px-8 {
  padding-right: 3.5rem;
  padding-left: 3.5rem; }

.py-8 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem; }

.pt-8 {
  padding-top: 3.5rem; }

.pb-8 {
  padding-bottom: 3.5rem; }

.pr-8 {
  padding-right: 3.5rem; }

.pl-8 {
  padding-left: 3.5rem; }

.p-9 {
  padding: 4rem; }

.px-9 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py-9 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.pt-9 {
  padding-top: 4rem; }

.pb-9 {
  padding-bottom: 4rem; }

.pr-9 {
  padding-right: 4rem; }

.pl-9 {
  padding-left: 4rem; }

.p-10 {
  padding: 4.5rem; }

.px-10 {
  padding-right: 4.5rem;
  padding-left: 4.5rem; }

.py-10 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.pt-10 {
  padding-top: 4.5rem; }

.pb-10 {
  padding-bottom: 4.5rem; }

.pr-10 {
  padding-right: 4.5rem; }

.pl-10 {
  padding-left: 4.5rem; }

.p-11 {
  padding: 5rem; }

.px-11 {
  padding-right: 5rem;
  padding-left: 5rem; }

.py-11 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.pt-11 {
  padding-top: 5rem; }

.pb-11 {
  padding-bottom: 5rem; }

.pr-11 {
  padding-right: 5rem; }

.pl-11 {
  padding-left: 5rem; }

.p-12 {
  padding: 5.5rem; }

.px-12 {
  padding-right: 5.5rem;
  padding-left: 5.5rem; }

.py-12 {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem; }

.pt-12 {
  padding-top: 5.5rem; }

.pb-12 {
  padding-bottom: 5.5rem; }

.pr-12 {
  padding-right: 5.5rem; }

.pl-12 {
  padding-left: 5.5rem; }

.p-14 {
  padding: 5.75rem; }

.px-14 {
  padding-right: 5.75rem;
  padding-left: 5.75rem; }

.py-14 {
  padding-top: 5.75rem;
  padding-bottom: 5.75rem; }

.pt-14 {
  padding-top: 5.75rem; }

.pb-14 {
  padding-bottom: 5.75rem; }

.pr-14 {
  padding-right: 5.75rem; }

.pl-14 {
  padding-left: 5.75rem; }

.p-15 {
  padding: 6rem; }

.px-15 {
  padding-right: 6rem;
  padding-left: 6rem; }

.py-15 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.pt-15 {
  padding-top: 6rem; }

.pb-15 {
  padding-bottom: 6rem; }

.pr-15 {
  padding-right: 6rem; }

.pl-15 {
  padding-left: 6rem; }

.m-0 {
  margin: 0; }

.mx-0 {
  margin-right: 0;
  margin-left: 0; }

.my-0 {
  margin-top: 0;
  margin-bottom: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.mr-0 {
  margin-right: 0; }

.ml-0 {
  margin-left: 0; }

.m-1 {
  margin: 0.25rem; }

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem; }

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.mt-1 {
  margin-top: 0.25rem; }

.mb-1 {
  margin-bottom: 0.25rem; }

.mr-1 {
  margin-right: 0.25rem; }

.ml-1 {
  margin-left: 0.25rem; }

.m-2 {
  margin: 0.5rem; }

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mb-2 {
  margin-bottom: 0.5rem; }

.mr-2 {
  margin-right: 0.5rem; }

.ml-2 {
  margin-left: 0.5rem; }

.m-3 {
  margin: 1rem; }

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem; }

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mt-3 {
  margin-top: 1rem; }

.mb-3 {
  margin-bottom: 1rem; }

.mr-3 {
  margin-right: 1rem; }

.ml-3 {
  margin-left: 1rem; }

.m-4 {
  margin: 1.5rem; }

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem; }

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.mt-4 {
  margin-top: 1.5rem; }

.mb-4 {
  margin-bottom: 1.5rem; }

.mr-4 {
  margin-right: 1.5rem; }

.ml-4 {
  margin-left: 1.5rem; }

.m-5 {
  margin: 2rem; }

.mx-5 {
  margin-right: 2rem;
  margin-left: 2rem; }

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mt-5 {
  margin-top: 2rem; }

.mb-5 {
  margin-bottom: 2rem; }

.mr-5 {
  margin-right: 2rem; }

.ml-5 {
  margin-left: 2rem; }

.m-6 {
  margin: 2.5rem; }

.mx-6 {
  margin-right: 2.5rem;
  margin-left: 2.5rem; }

.my-6 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.mt-6 {
  margin-top: 2.5rem; }

.mb-6 {
  margin-bottom: 2.5rem; }

.mr-6 {
  margin-right: 2.5rem; }

.ml-6 {
  margin-left: 2.5rem; }

.m-7 {
  margin: 3rem; }

.mx-7 {
  margin-right: 3rem;
  margin-left: 3rem; }

.my-7 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mt-7 {
  margin-top: 3rem; }

.mb-7 {
  margin-bottom: 3rem; }

.mr-7 {
  margin-right: 3rem; }

.ml-7 {
  margin-left: 3rem; }

.m-8 {
  margin: 3.5rem; }

.mx-8 {
  margin-right: 3.5rem;
  margin-left: 3.5rem; }

.my-8 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem; }

.mt-8 {
  margin-top: 3.5rem; }

.mb-8 {
  margin-bottom: 3.5rem; }

.mr-8 {
  margin-right: 3.5rem; }

.ml-8 {
  margin-left: 3.5rem; }

.m-9 {
  margin: 4rem; }

.mx-9 {
  margin-right: 4rem;
  margin-left: 4rem; }

.my-9 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.mt-9 {
  margin-top: 4rem; }

.mb-9 {
  margin-bottom: 4rem; }

.mr-9 {
  margin-right: 4rem; }

.ml-9 {
  margin-left: 4rem; }

.m-10 {
  margin: 4.5rem; }

.mx-10 {
  margin-right: 4.5rem;
  margin-left: 4.5rem; }

.my-10 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.mt-10 {
  margin-top: 4.5rem; }

.mb-10 {
  margin-bottom: 4.5rem; }

.mr-10 {
  margin-right: 4.5rem; }

.ml-10 {
  margin-left: 4.5rem; }

.m-11 {
  margin: 5rem; }

.mx-11 {
  margin-right: 5rem;
  margin-left: 5rem; }

.my-11 {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.mt-11 {
  margin-top: 5rem; }

.mb-11 {
  margin-bottom: 5rem; }

.mr-11 {
  margin-right: 5rem; }

.ml-11 {
  margin-left: 5rem; }

.m-12 {
  margin: 5.5rem; }

.mx-12 {
  margin-right: 5.5rem;
  margin-left: 5.5rem; }

.my-12 {
  margin-top: 5.5rem;
  margin-bottom: 5.5rem; }

.mt-12 {
  margin-top: 5.5rem; }

.mb-12 {
  margin-bottom: 5.5rem; }

.mr-12 {
  margin-right: 5.5rem; }

.ml-12 {
  margin-left: 5.5rem; }

.m-14 {
  margin: 5.75rem; }

.mx-14 {
  margin-right: 5.75rem;
  margin-left: 5.75rem; }

.my-14 {
  margin-top: 5.75rem;
  margin-bottom: 5.75rem; }

.mt-14 {
  margin-top: 5.75rem; }

.mb-14 {
  margin-bottom: 5.75rem; }

.mr-14 {
  margin-right: 5.75rem; }

.ml-14 {
  margin-left: 5.75rem; }

.m-15 {
  margin: 6rem; }

.mx-15 {
  margin-right: 6rem;
  margin-left: 6rem; }

.my-15 {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.mt-15 {
  margin-top: 6rem; }

.mb-15 {
  margin-bottom: 6rem; }

.mr-15 {
  margin-right: 6rem; }

.ml-15 {
  margin-left: 6rem; }

.mx-auto {
  margin-right: auto;
  margin-left: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.display-1 {
  font-size: 4.5rem; }

.text-primary {
  color: #AA0601; }

.text-secondary {
  color: #FBF2F2; }

.text-info {
  color: #5F3E2D; }

.text-warning {
  color: #B75929; }

.text-danger {
  color: #650300; }

.text-gray {
  color: #555555; }

.text-deep-gray {
  color: #212529; }

.text-light {
  color: #DEE2E6; }

.text-dark {
  color: #000000; }

.text-white {
  color: #FFFFFF; }

.text-muted {
  color: #707070; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-italic {
  font-style: italic; }

.text-decoration-none {
  text-decoration: none; }

.font-weight-normal {
  font-weight: 400; }

.font-weight-bold {
  font-weight: 700; }

.font-weight-black {
  font-weight: 900; }

.bg-primary {
  background-color: #AA0601; }

.bg-secondary {
  background-color: #FBF2F2; }

.bg-info {
  background-color: #5F3E2D; }

.bg-warning {
  background-color: #B75929; }

.bg-danger {
  background-color: #650300; }

.bg-gray {
  background-color: #555555; }

.bg-deep-gray {
  background-color: #212529; }

.bg-light {
  background-color: #DEE2E6; }

.bg-dark {
  background-color: #000000; }

.bg-white {
  background-color: #FFFFFF; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

input, textarea {
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px; }

.w-auto {
  width: auto; }

.w-25 {
  width: 25%; }

.w-50 {
  width: 50%; }

.w-75 {
  width: 75%; }

.w-100 {
  width: 100%; }

.h-auto {
  height: auto; }

.h-25 {
  height: 25%; }

.h-50 {
  height: 50%; }

.h-75 {
  height: 75%; }

.h-100 {
  height: 100%; }

.banner {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  height: calc(100vh - 90px);
  background-size: cover;
  background-position: center center; }
  @media (max-width: 768px) {
    .banner {
      height: calc(100vh - 108px); }
      .banner h1 {
        font-size: 3rem; }
      .banner h3 {
        font-size: 1.25rem; } }
  @media (max-width: 414px) {
    .banner {
      height: 394px; }
      .banner h1 {
        font-size: 32px; }
      .banner h3 {
        font-size: 1rem; } }

.index-title {
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .index-title {
      margin-bottom: 32px;
      font-size: 32px; } }
  @media (max-width: 414px) {
    .index-title {
      margin-bottom: 20px;
      font-size: 20px; } }

.introduce {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .introduce {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 414px) {
    .introduce {
      padding-top: 32px;
      padding-bottom: 40px; }
      .introduce h2, .introduce h4 {
        font-size: 1.5rem; } }

.introduce-item {
  width: 24%; }
  @media (max-width: 768px) {
    .introduce-item {
      width: 48%; } }
  @media (max-width: 414px) {
    .introduce-item {
      width: 100%;
      padding-right: 45px;
      padding-left: 45px; } }
  .introduce-item p {
    text-align: left; }
    @media (max-width: 414px) {
      .introduce-item p {
        max-width: 255px;
        margin-bottom: 32px; } }
    @media (max-width: 414px) {
      .introduce-item p:nth-child(4) {
        margin-bottom: 0; } }

.introduce-icon {
  font-size: 100px; }

.classic-info {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .classic-info {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 414px) {
    .classic-info {
      padding-top: 32px;
      padding-bottom: 40px; } }

.classic-info-item {
  position: relative;
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .classic-info-item {
      margin-bottom: 8px; } }

@media (max-width: 768px) {
  .classic-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

.classic-info-title {
  margin: 0 30px; }
  @media (max-width: 768px) {
    .classic-info-title {
      font-size: 28px; } }
  @media (max-width: 414px) {
    .classic-info-title {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      margin: 0; } }
  .classic-info-title .material-icons {
    font-size: 44px;
    margin-right: 10px; }
    @media (max-width: 768px) {
      .classic-info-title .material-icons {
        font-size: 40px;
        margin-right: 8px; } }

.classic-info-img {
  width: 635px; }
  @media (max-width: 768px) {
    .classic-info-img {
      width: 390px; } }
  @media (max-width: 414px) {
    .classic-info-img {
      width: 100%; } }

.co-branding {
  padding-top: 60px;
  padding-bottom: 80px;
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true) no-repeat center center;
  background-size: cover; }
  @media (max-width: 768px) {
    .co-branding {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 414px) {
    .co-branding {
      padding-top: 32px; } }

@media (max-width: 414px) {
  .co-branding-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.co-branding-item {
  width: 540px;
  height: 455px;
  background-size: cover;
  background-position: center center; }
  .co-branding-item.left {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true); }
    @media (max-width: 414px) {
      .co-branding-item.left {
        margin-bottom: 16px; } }
  .co-branding-item.right {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true); }
  @media (max-width: 768px) {
    .co-branding-item {
      width: 330px;
      height: 278px; } }
  @media (max-width: 414px) {
    .co-branding-item {
      width: 100%;
      height: 291px; } }

.co-branding-link {
  width: 540px;
  height: 455px;
  background-color: rgba(255, 255, 255, 0.5); }
  .co-branding-link:hover {
    background-color: rgba(255, 255, 255, 0); }
  @media (max-width: 768px) {
    .co-branding-link {
      width: 330px;
      height: 278px;
      font-size: 32px; } }
  @media (max-width: 414px) {
    .co-branding-link {
      width: 100%;
      height: 291px;
      font-size: 32px; } }

.recommand {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .recommand {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 414px) {
    .recommand {
      padding-top: 32px;
      padding-bottom: 40px; } }

.recommand-item {
  width: 23%;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }
  @media (max-width: 768px) {
    .recommand-item {
      width: 48%;
      margin-bottom: 32px; }
      .recommand-item:nth-child(3), .recommand-item:nth-child(4) {
        margin-bottom: 0px; } }
  @media (max-width: 414px) {
    .recommand-item {
      width: 100%;
      margin-bottom: 16px; }
      .recommand-item:nth-child(3) {
        margin-bottom: 16px; } }

.recommand-body {
  padding: 16px; }
  @media (max-width: 768px) {
    .recommand-body {
      padding-right: 24px;
      padding-left: 24px; } }

.recommand-name {
  font-size: 14px; }

.recommand-img {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }

.recommand-date {
  margin-top: 52px;
  font-size: 14px; }

.contact {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .contact {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 414px) {
    .contact {
      padding-top: 30px;
      padding-bottom: 40px; } }
  @media (max-width: 768px) {
    .contact label {
      font-size: 14px; } }
  .contact input, .contact textarea {
    background-color: transparent;
    margin-bottom: 16px; }
    @media (max-width: 768px) {
      .contact input, .contact textarea {
        margin-bottom: 8px; } }

.contact-title {
  margin-bottom: 24px; }
  @media (max-width: 768px) {
    .contact-title {
      font-size: 32px; } }
  @media (max-width: 414px) {
    .contact-title {
      font-size: 20px;
      margin-bottom: 20px; } }

.contact-text {
  margin-bottom: 20px; }
  @media (max-width: 768px) {
    .contact-text {
      margin-bottom: 16px; } }
  @media (max-width: 414px) {
    .contact-text {
      margin-bottom: 8px; } }

.agreement {
  font-size: 14px; }

.contact-btn {
  padding: 16px 143px;
  border: 0;
  cursor: pointer; }
  .contact-btn:hover {
    background-color: #620300; }
  @media (max-width: 768px) {
    .contact-btn {
      font-size: 14px;
      padding: 10px 77px;
      margin-top: 40px; } }
  @media (max-width: 414px) {
    .contact-btn {
      padding: 8px 54.5px;
      margin-top: 20px; } }

.page-title {
  border-left: 8px solid #AA0601;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .page-title {
      margin-top: 60px;
      margin-bottom: 40px; } }
  @media (max-width: 414px) {
    .page-title {
      font-size: 28px;
      margin-top: 28px;
      margin-bottom: 24px; } }

.subtitle {
  font-size: 32px;
  margin-bottom: 36px; }
  @media (max-width: 768px) {
    .subtitle {
      margin-bottom: 32px; } }
  @media (max-width: 414px) {
    .subtitle {
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 24px; } }

.qa-info {
  margin-bottom: 160px; }
  @media (max-width: 768px) {
    .qa-info {
      margin-bottom: 96px; } }
  @media (max-width: 414px) {
    .qa-info {
      margin-bottom: 56px; } }

@media (max-width: 414px) {
  .qa-question {
    font-size: 1rem; } }

.qa-content {
  padding-left: 60px; }
  @media (max-width: 414px) {
    .qa-content {
      padding-left: 0;
      margin-bottom: 20px; } }

/*# sourceMappingURL=all.css.map */
