
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input, textarea{
    width: 100%;
    background-color: $white;
    border: 1px solid $black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
}
