
.display-1{
    font-size: $display-1;
}

@each $key, $value in $themes {
    .text-#{$key} {
        color: $value;
    }
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-italic{
    font-style: italic;
}

.text-decoration-none{
    text-decoration: none;
}

.font-weight-normal{
    font-weight: $font-weight-base;
}

.font-weight-bold{
    font-weight: $font-weight-bold;
}

.font-weight-black {
    font-weight: $font-weight-black;
}
